@{
    ViewBag.Title = "ABOUT";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p><b>SellerDroid</b> is a revolutionary <b>shopping search app</b> for products in 
    <b>local</b> stores across LEBANON</p>
<p>SellerDroid is easy to use</p>
<p>You can either connect using our mobile app or just make your search by typing your product
    name or description</p>
<p>If you are a supplier, you have to register here and make place your product.<br />
    If you want to make your product visible and feautured, it will cost you monthly $50/product</p>

