@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Seller Web<br />
    Zahle, Bekaa<br />
    <abbr title="Phone">P:</abbr>
    03.070.944
</address>

<address>
    <strong>Support Team:</strong>   <a href="mailto:support@sellerweb.com">Support@sellerweb.com</a><br />
    <strong>Admin:</strong> <a href="mailto:marketing@sellerweb.com">admin@sellerweb.com</a>
</address>